.hidden {
  display: none;
}

.w-300 {
  display: block;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img-spinner {
  width: 35px;
  height: 35px;
}

.td-u {
  text-decoration: underline !important;
}

.section-title {
  color: #00539b;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 600;
}