//text
$text-main:#4A4A4A;
$text-bold:#000000;
$text-white:#FFFFFF;
$text-sub:#9B9B9B;


//background
$bg-main: #FFFFFF;
$bg-footer:#FFF7EE;
$bg-blogs:#FFF7EE;
$bg-shade:#EEEAE4;
$bg-list-highlight:#FFE923;
$bg-link-active:#F1F1F1;
$bg-d8:#D8D8D8;
$bg-nav-subs:#9B9B9B;

//identitiy
$color-brand:#00539B;
$color-base:#E5F1F8;
$color-accent-dark:#4B1E19;
$color-accent-light:#CCC2B7;
$color-highlight:#FF8600;
$color-netralize:#FFF7EE;

//navbar
$bg-active-nav:#726352;

%half-color-grad{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+51,fff7ee+51,fff7ee+100 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 51%, rgba(255,247,238,1) 51%, rgba(255,247,238,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 51%,rgba(255,247,238,1) 51%,rgba(255,247,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 51%,rgba(255,247,238,1) 51%,rgba(255,247,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fff7ee',GradientType=1 ); /* IE6-9 */
}
