//padding and margin
$pad-section: 50px;
$mar-section: 50px;
$pad-item:$pad-section/2;
$mar-item:$mar-section/2;


a {
    text-decoration: none;
    transition: all .25s ease-in;
    color: $color-highlight;

    &:hover,
    &:focus {
        text-decoration: none;
        transition: all .25s ease-out;
        color: darken($color: $color-highlight, $amount: 10%);
    }
}

a.second-link {
    color: $color-brand;

    &:hover,
    &:focus {
        color: darken($color: $color-brand, $amount: 10%);
    }
}

body {
    color: $text-main;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: unset;
    background-color: $bg-main;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
    color: $text-bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Open Sans', sans-serif;
}

p {
    margin-bottom: 11px;
    // line-height: unset;
}

.m {
    font-weight: 500;
}

.b {}

.p-rel {
    position: relative;
}

.mh-300 {
    min-height: 300px;
}

.img-box {
    height: 200px;
    width: 100%;
    overflow: hidden;

    img {
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
    }
}

.br {
    border-right: 1px solid $bg-d8;
}

.vid-box {
    height: 250px;
    width: 100%;
}

.btn {
    border-radius: 0px;
}

.btn-main {
    color: $text-white;
    background-color: $color-accent-dark;
    border: 1px solid transparent;
    text-decoration: none;
    transition: all .25s ease-in;

    &:hover,
    &:focus {
        color: $color-accent-dark;
        background-color: transparent;
        border: 1px solid $color-accent-dark;
        text-decoration: none;
        transition: all .25s ease-out;
    }
}

.btn-primary {
    color: $text-white;
    background-color: $color-brand;
    border: 1px solid transparent;
    text-decoration: none;
    transition: all .25s ease-in;

    &:hover,
    &:focus {
        color: $color-brand;
        background-color: transparent;
        border: 1px solid $color-brand;
        text-decoration: none;
        transition: all .25s ease-out;
    }
}

.btn-more {
    color: $color-brand;
    background-color: transparent;
    border: 1px solid $color-brand;
    text-decoration: none;
    transition: all .25s ease-in;

    &:hover,
    &:focus {
        color: $text-white !important;
        background-color: $color-brand;
        border: 1px solid transparent;
        text-decoration: none;
        transition: all .25s ease-out;
    }
}

.btn-secondary {
    color: $text-sub;
    background-color: transparent;
    border: 1px solid $text-sub;
    text-decoration: none;
    transition: all .25s ease-in;

    &:hover,
    &:focus {
        color: $text-white !important;
        background-color: $text-sub;
        border: 1px solid transparent;
        text-decoration: none;
        transition: all .25s ease-out;
    }
}

.btn-third {
    color: $text-white;
    background-color: $color-highlight;
    border: 1px solid transparent;
    text-decoration: none;
    transition: all .25s ease-in;

    &:hover,
    &:focus {
        color: $color-highlight;
        background-color: transparent;
        border: 1px solid $color-highlight;
        text-decoration: none;
        transition: all .25s ease-out;
    }
}

.main-content-wrapper {
    min-height: calc(100vh - 700px)
}

.social-media {
    .fa-facebook-f {
        color: #00539B;
    }

    .fa-twitter {
        color: #4A90E2;
    }

    .fa-instagram {
        color: #BD10E0;
    }

    .fa-google-plus-g {
        color: #D0021B;
    }

    .fa-youtube {
        color: #C70D0D;
    }
}

.more-link {
    a {
        color: $color-brand;

        &:hover,
        &:focus {
            text-decoration: none;
            transition: all .25s ease-out;
            color: darken($color: $color-brand, $amount: 20%);
        }
    }
}

.img-round {
    height: 120px;
    width: 120px;
    overflow: hidden;
    border-radius: 100%;

    img {
        object-position: center;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-brand {
    color: $color-brand;
}

.valign-middle {
    vertical-align: middle;
}

.op-center {
    object-position: center !important;
}

.font-size-12 * {
    font-size: 12px !important;
}

.table .thead-light td {
    background-color: #e9ecef;
    border-color: #dee2e6;
}