footer{
    position: relative;
    .about-footer{
        padding-top: $pad-section;
        padding-bottom: $pad-section;
        background-color: $color-base;
        background: url('/images/bg-batik.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .title{
            color: $color-accent-dark;
            margin-bottom: 1rem;
        }
        .sub-title{
            color: $color-accent-dark;
            margin-bottom: 0px;
        }
        .img-box{
            height: 60px;
            img{
                object-fit: contain;
            }
            margin-bottom: 1rem;
        }
    }
    .copyright{
        padding-top: $pad-item/2;
        padding-bottom: $pad-item/2;
        background-color: $bg-footer;
        p{
            margin-bottom: 0px;
            color: $text-bold;
            a{
                color: $text-bold;
                margin-left: .5rem;
                margin-right: .5rem;
                &:hover,&focus{
                    color: $text-bold;
                }
            }
        }
    }
    .go-to-top{
        position: absolute;
        bottom: 0px;
        right: 0px;
        padding: $pad-item/2;
        background-color: $color-highlight;
        i{
            font-size: 2rem;
            color: $text-white;
        }

    }
    h1,h2,h3,h4,h5,h6,p{
        color: $color-accent-dark;
    }
}
.subscribe-form{
    padding-top: $pad-section;
    padding-bottom: $pad-section;
    background-color: $color-base;
    .title{
        color: $color-accent-dark;
    }
    .sub-title{
        color: $text-main;
        margin-bottom: 2rem;
    }
    form{
        .form-group{
            input{
                border:1px solid transparent;
                border-bottom: 1px solid $color-accent-dark;
                border-radius: 0px;
                background-color: transparent;
            }
            .btn-main{
                border-radius: 0px;
                padding: .8rem 1rem;
            }
        }
    }
}

// header

#main-menu{
    background-color: $color-base;
    .navbar-brand{
        img{
            height: 60px;
        }
    }
    .navbar-toggler{
        border-color: transparent;
        outline-color: transparent;
        .navbar-toggler-icon{

        }
    }
    .navbar-collapse{
        .navbar-nav{
            .nav-item{
                .nav-link{
                    color: $color-brand;
                    font-weight: 600;
                    border-bottom: 1px solid transparent;
                    &:hover, &:focus{
                        color: darken($color: $color-brand, $amount: 20%);
                        border-color: darken($color: $color-brand, $amount: 20%);
                    }
                }
                .dropdown-toggle{
                    &:after{
                        margin-left: 1rem;
                    }
                }
                &.dropdown{
                    .dropdown-toggle{
                        &:after{
                            // content: '';
                            display: none !important;
                        }
                    }
                    .dropdown-menu{
                        background-color: $bg-footer;
                        border-radius: 0px;
                        border-bottom: 2px solid $bg-list-highlight;
                        .dropdown-item{
                            border-bottom: 1px solid $bg-shade;
                            color: $text-bold;
                            &:hover, &:focus{
                                color: $text-white;
                                background-color: $bg-active-nav;
                            }
                        }
                    }
                    .nav-link{
                        &:hover, &:focus{
                            background-color: transparent;
                            color: $color-brand;
                        }
                    }
                }
            }
        }
    }
}
#top-menu{
    background-color: $color-accent-light;
    .top-socmed{
        padding-top: .5rem;
        padding-bottom: .5rem;
        a{
            color: $color-brand;
            i{
                padding: 0px 1rem;
            }
            &:hover, &:focus{
                color: darken($color: $color-brand, $amount: 20%);
            }
        }
    }
    .tagline{
        color: $color-brand;
        padding: .5rem 1rem;
    }
    .navbar-nav-top{
        display: inline-flex;
        list-style: none;
        padding-left: 0px;
        margin-bottom: 0px;
        .nav-item{
            .nav-link{
            padding-left: .8rem;
            padding-right: .8rem;
            color: $color-brand;
                &:hover, &:focus{
                    color: $text-white;
                    background-color: $color-brand;
                }
            }
            .dropdown-toggle{
                &:after{
                    margin-left: 1rem;
                }
            }
            &.dropdown{
                .dropdown-toggle{
                    
                }
                .dropdown-menu{
                    background-color: $bg-footer;
                    border-radius: 0px;
                    .dropdown-item{
                        border-bottom: 1px solid $bg-shade;
                        color: $text-bold;
                        &:hover, &:focus{
                            color: $text-white;
                            background-color: $bg-active-nav;
                        }
                    }
                }
                .nav-link{
                    &:hover, &:focus{
                        background-color: $color-accent-dark;
                    }
                }
            }
        }
    }
    .top-right-menu{

    }
    .navbar-toggler{
        border-color: transparent;
        .navbar-toggler-icon{

        }
    }
}
.nav-search-form{
    padding: 10px 0px;
    background-color:$color-netralize;
    border-bottom: 2px solid $bg-list-highlight;
    position: absolute;
    width: 100%;
    z-index: 1;
    display: none;
    .navbar-brand{
        img{
            height: 60px;
        }
    }
    form{
        .input-group-prepend{
            .input-group-text{
                padding-left: 1rem;
                padding-right: 1rem;
                border-radius: 0px;
                border-color: transparent;
                background-color: transparent;
                i{
                    color: $color-brand;
                }
            }
        }
        input{
            border-radius: 0px;
            border-color: transparent;
            border-bottom: 1px solid lighten($color: $text-main, $amount: 20%);
            background-color: transparent;
        }
    }
}
#fullscreen-menu{
    padding-right: 0px !important;
    .modal-dialog{
        max-width: 100%;
        margin: 0px;
        .modal-content{
            min-height: 100vh;
            background-color: $color-accent-light;
            .modal-header{
                border-color: transparent;
            }
            .modal-body{

            }
            .modal-footer{
                border-color: transparent;
            }
        }

        .download-app{
            .img-box{
                height: 80px;
                margin-bottom: .7rem;
                width: max-content;
                display: inline-block;
                img{
                    object-fit: contain;
                }
            }
        }
        .social-media{
            padding-top: 1rem;
            i{
                font-size: 1.5rem;
                margin: 0px 1rem;
                color: darken($color: $color-accent-light, $amount: 40%);
            }
        }
        .fs-nav-menu{
            padding-left: 0px;
            list-style: none;
            li{
                margin-bottom: 1rem;
                a{
                    font-size: 1.5rem;
                    color: $text-bold;
                    font-weight: 600;
                    &:hover,&:focus{
                        color: $color-brand;
                    }
                }
            }
            &.coloring-brand{
                li{
                    a{
                        color: $color-brand;
                        &:hover,&:focus{
                            color: $text-bold;
                        }
                    }
                }
            }
        }

        .newsletter-form{
            background-color: darken($color: $color-accent-light, $amount: 10%);
            padding: 1rem .8rem;
            input{
                background-color: transparent;
                border-color: transparent;
                border-right: 1px solid darken($color: $color-accent-light, $amount: 40%);
            }
            .btn{
                background-color: transparent;
                border-color: transparent;
                color: $text-bold;
            }
        }
        .app-title{
            color: darken($color: $color-accent-light, $amount: 40%);
            margin-bottom: 1.5rem;
        }
    }
}
.auth-modal{
    a{
        color: $color-brand;
        &:hover,&:focus{
            color: darken($color: $color-brand, $amount: 20);
        }
    }
    .modal-dialog{
        max-width: 700px;
        .modal-content{
            background-color: $color-base;
            border-radius: 0px;
            .modal-header{
                border-color: transparent;
            }
            .modal-body{

            }
            .modal-footer{
                border-color: transparent;
            }
        }
    }
    .form-title{
        margin-bottom: 1.5rem;
        h2{
            color: $bg-active-nav;
        }
        .img-box{
            height: 60px;
            img{
                object-fit: contain;
            }
        }
    }
    .form-auth{
        form{
            input{
                border-radius: 0px;
            }
            .btn{
                border-radius: 0px;
            }
        }
        margin-bottom: 1rem;
    }
    .form-info{
        p{
            margin-bottom: .5rem;
        }
        .forgot-auth{

        }
        .register{

        }
        .login-oauth{
            margin-top: 1.5rem;
            i,.divider{
                font-size: 2rem;
                margin: 0px .5rem;  
            }
            .fa-facebook-f{
                color:#0A4B83;
            }
            .fa-google-plus-g{
                color:#CF2D2D;
            }
            .divider{
                color: lighten($color: $text-main, $amount: 50)
            }
        }
    }
}
#edisi-nav-menu{
    background-color:$color-netralize;
    position: absolute;
    width: 100%;
    z-index: 1;
    display: none;
    .gal-magazine{
        .item{
            margin-bottom: 1rem;
            p{
                color: $color-brand;
                font-weight: bold;
            }
            .img-box{
                img{
                    object-fit: contain;
                }
            }
        }
    }
    .btn{
        border-radius: 0px;
        i{
            margin-left: .8rem;
        }
    }
    .container{
        border-bottom: 2px solid $bg-list-highlight;
        padding: $pad-item 0px;
    }
}
#penulis-nav-menu{
    @extend %half-color-grad;
    position: absolute;
    width: 100%;
    z-index: 1;
    display: none;
    #penulis-pills-tab{
        padding-top: 1rem;
        background-color: $bg-main;
        .nav-item{
            padding-left: 1rem;
            
            &:hover,&:focus,&.lactive{
                background-color: $bg-link-active;
            }
            .nav-link{
                color: $color-brand;
                border-bottom: 1px solid transparent;
                border-radius: 0px;
                padding: 1rem 1rem 1rem 0rem;
                // font-weight: bold;
                i{
                    margin-top: 5px;
                }
                &:hover, &:focus, &.active{
                    border-color: $color-brand;
                    background-color: transparent;
                }
            }
        }
    }
    #penulis-pills-tabContent{
        background-color: $color-netralize;
        padding: 1rem .5rem;
        .gal-blog{
            .item{
                .img-box{
                    height: 120px;
                }
                .desc{
                    .kategori{
                        margin-bottom: 0px;
                    }
                    .title{
                        margin-bottom: 0px;
                        font-size: 1.2rem;
                    }
                    .author{
                        .edisi{
                            margin-left: 1.2rem;
                        }
                    }
                }
            }
        }
        .action{
            margin-top: 1rem;
            .btn{
                border-radius: 0px;
                i{
                    margin-left: 1rem;
                }
            }
        }
    }
    .container{
        border-bottom: 2px solid $bg-list-highlight;
    }
}