#home-slider {
    .carousel-indicators {
        bottom: 230px;
        padding-bottom: 1rem;
        width: max-content;
        right: 0px;
        left: unset;

        li {
            border-radius: 100%;
            height: 12px;
            width: 12px;
        }
    }

    .carousel-inner {
        .carousel-item {
            img {
                object-position: center;
                border-style: none;
                height: 80vh;
                width: 100%;
                object-fit: cover;
            }

            .carousel-caption {
                right: 0px;
                left: 0px;
                padding-bottom: 0px;
                bottom: 0px;
                text-align: left;

                .desc {
                    background-color: transparentize($color: #726352, $amount: 0.5);
                    padding: $pad-item;

                    .kategori {
                        a {
                            text-decoration: underline;
                        }
                    }

                    .title {
                        text-transform: uppercase;
                        color: $text-white;
                    }

                    .author {
                        .divider {
                            margin-left: .5rem;
                            margin-right: .5rem;
                        }

                        i {
                            margin-right: .7rem;
                        }
                    }

                    .summary {
                        i {
                            margin-left: 1rem;
                        }
                    }
                }
            }
        }
    }
}

.sidebar {
    padding: $pad-section $pad-item;

    .item {
        margin-bottom: $mar-item;
    }

    .title {
        color: $color-brand;
        text-decoration: underline;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 1rem;
    }

    .content {}

    .download-app {
        .img-box {
            height: 60px;
            margin-bottom: .7rem;

            img {
                object-fit: contain;
                width: auto;
            }
        }
    }

    .social-media {
        i {
            font-size: 1.5rem;
            margin: 0px 1rem;
        }
    }

    .side-majalah {
        .title {
            text-decoration: none;
            color: $text-bold;
        }

        .img-box {
            height: 250px;

            img {
                object-fit: contain;
                object-position: left;
            }
        }

        .edition {
            color: $text-main;
            text-transform: uppercase;
        }

        a {
            color: $color-brand;
            margin-top: 1rem;

            &:hover,
            &:focus {
                color: darken($color: $color-brand, $amount: 20%);
            }
        }
    }

    .featured-mini-post {
        .item {
            .img-box {
                height: 80px;
                width: 80px;

                img {}
            }

            .desc {
                .title {
                    color: $text-bold;
                    text-decoration: none;
                    margin-bottom: 0px;
                }

                .author {
                    color: $text-main;
                }
            }
        }
    }
}

#page-sidebar {
    padding: 0px;
}


.blogs {
    padding: $pad-section 0px;
    background-color: $bg-blogs;

    .blogs-title {
        color: $color-brand;
        padding-bottom: 10px;
        border-bottom: 1px solid $color-brand;
        width: max-content;
    }

    .item {
        margin-bottom: 2rem;

        .img-box {
            height: 300px;
            margin-bottom: 1rem;

            img {}
        }

        .desc {
            .kategori {
                a {
                    text-decoration: underline;
                }
            }

            .title {
                font-weight: 600;
            }

            .author {
                .divider {
                    margin-left: .5rem;
                    margin-right: .5rem;
                }

                i {
                    margin-right: .7rem;
                }
            }

            .summary {
                i {
                    margin-left: 1rem;
                }
            }
        }
    }

    .nav-tabs {
        border-color: transparent;

        .nav-item {
            .nav-link {
                border-color: transparent;
                color: $text-main;

                &:hover,
                &:focus,
                &.active {
                    color: $color-highlight;
                    border-color: transparent;
                    background-color: transparent;
                }
            }
        }
    }

    .tab-content {
        padding: $pad-item 0px;
    }
}

.page-header {
    background-color: $color-netralize;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .breadcrumb {
        background-color: transparent;

        .breadcrumb-item {
            a {
                color: $text-white;

                &:hover,
                &:focus,
                &.active {
                    color: $text-bold;
                }
            }

            &:hover,
            &:focus,
            &.active {
                color: $text-bold;

                a {}
            }
        }

        .breadcrumb-item::before {
            color: $text-white;
        }
    }

    .header-title {
        margin-bottom: 5rem;
        margin-top: 1rem;

        .title {
            color: $color-brand;
            margin-bottom: 0px;
            font-size: 3rem;
        }

        .sub-title {
            color: $color-highlight;
            margin-bottom: 0px;
            text-transform: uppercase;
        }
    }

    .image-bg {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        overflow: hidden;

        img {
            object-fit: cover;
            object-position: center;
            height: 100%;
            width: 100%;
        }
    }

    .detail-page-header {
        min-height: 200px;
    }
}

.bg-book {
    background-image: url('/images/banner-book.png');
}

.bg-detail {
    background-image: url('/images/banner-detail.png');
}

.bg-eyeglasses {
    background-image: url('/images/banner-eyeglasses.png');
}

.bg-gallery {
    // background-image: url('/images/banner-gallery.png');
}

.bg-langganan {
    background-image: url('/images/banner-langganan.png');
}

.bg-mata-air {
    background-image: url('/images/banner-main.png');
}

.gal-magazine {
    .item {
        margin-bottom: 2rem;

        .img-box {
            width: 150px;
            height: 100%;

            img {
                object-fit: contain;
                object-position: top;
            }
        }

        .desc {
            .edition {}

            .description {}

            .action {}
        }

        &.featured {
            .img-box {
                width: 250px;
            }
        }
    }
}

.pagination-def {
    margin-top: 1rem;

    .pagination {
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;

        .page-item {
            .page-link {
                color: $text-main;
                border-color: transparent !important;
                background-color: transparent !important;
            }

            &.disabled {
                .page-link {
                    color: $text-main !important;
                }
            }

            &.active,
            &:hover,
            &focus {
                .page-link {
                    color: $color-brand;
                    text-decoration: underline;
                }
            }

            &:first-child {
                margin-right: auto !important;

                .page-link {
                    color: $color-brand;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }

            &:last-child {
                margin-left: auto !important;

                .page-link {
                    color: $color-brand;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
        }
    }
}

#form-archive-filter {
    margin-bottom: 2rem;

    .form-group {
        label {
            margin-top: .3rem;
        }

        select {
            border-radius: 0px;
        }
    }
}

.gal-blogs {
    .item {
        margin-bottom: 1.5rem;

        .img-box {
            height: 100%;
        }

        .desc {
            .author {
                a {
                    color: $color-brand;

                    &:hover,
                    &:focus {
                        color: darken($color: $color-brand, $amount: 20%);
                    }
                }
            }
        }
    }
}

.title-heading-page {
    // padding: 1.5rem 0px;
    margin-top: -80px;

    .category {
        margin-bottom: 0px;
        margin-top: 2rem;
    }

    .title {
        color: $color-brand;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .author {
        a {
            color: $text-bold;

            i {
                color: $text-main;
            }
        }

        margin-bottom: 2rem;
    }

    .bg-line {
        box-shadow: 0px 10px 20px rgba(0, 0, 0, .2);
        height: 40px;
        border-radius: 20px;
        border-radius: 200px;
        position: absolute;
        width: 100%;
        left: 0;
        height: 100%;
        z-index: -2;
    }

    .bg-white {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        z-index: -1;
    }

    .bg-box {
        position: absolute;
        width: 90%;
        left: 5%;
        height: 90%;
        top: 10%;
    }
}

.profile-sidebar {
    padding: 0px 2.5rem;

    .img-round {
        margin-bottom: 1rem;
    }

    .author-name {}

    .author-title {
        color: $text-sub;
    }

    .page-date {
        color: $text-main;
    }
}

.z-1 {
    z-index: -1;
}

.gal-letter {
    .nav-tabs {
        border-color: transparent;

        .nav-item {
            .nav-link {
                border-color: transparent;
                color: $text-main;

                &:hover,
                &:focus,
                &.active {
                    color: $color-highlight;
                    border-color: transparent;
                    background-color: transparent;
                }
            }
        }
    }

    .tab-content {
        padding: $pad-item 0px;
    }

    .item {

        .summary {
            margin-bottom: 1.5rem;
        }

        .img-box {
            margin-bottom: 11px;
        }
    }
}

.fe-form {

    input,
    textarea,
    select {
        border-radius: 0px;
    }
}

#gallery-tabs {
    margin-bottom: 1rem;

    .nav-item {
        padding-left: 2rem;
        padding-right: 2rem;

        .nav-link {
            font-size: 1.5rem;
            color: $text-main;

            &:hover,
            &:focus,
            &.active {
                color: $color-brand;
                text-decoration: underline;
            }
        }
    }

    .nav-item:first-child {
        border-right: 1px solid $bg-shade;
    }
}

#gallery-tabs-content {
    .item {
        .img-box {
            margin-bottom: 11px;
            position: relative;

            i {
                font-size: 2rem;
                color: $text-bold;
                position: absolute;
                top: calc(50% - 16px);
                left: calc(50% - 16px);
                height: 100%;
                transition: all .25s ease-in;
            }

            &:hover,
            &:focus {
                i {
                    color: $color-highlight;
                    transition: all .25s ease-out;
                }
            }
        }

        .desc {
            margin-bottom: 1.5rem;

            .info {
                .count {
                    color: $color-highlight;
                }
            }
        }
    }
}

#subscribe-tab,
#account-tab,
#contact-tab,
#about-tab {
    margin-top: 1rem;
    border-bottom-color: transparent;

    .nav-item {
        margin-left: .5rem;
        margin-right: .5rem;

        .nav-link {
            color: $bg-nav-subs;
            border-color: transparent;
            border-bottom: 2px solid $bg-nav-subs;
            padding: 1rem;

            &.active,
            &:hover,
            &:focus {
                background-color: transparent;
                color: $color-brand;
                border-bottom-color: $color-highlight;
            }
        }
    }
}

#subscribe-tab-content {
    .fe-form {
        margin-top: 2rem;

        label {
            text-align: right;
        }
    }

    .package {
        .desc {
            .title {}

            .sub-title {
                margin-bottom: 1.2rem;
            }
        }

        .card {
            .card-header {
                background-color: #DDDDDD;
            }

            .card-body {
                background-color: #EEEEEE;
            }

            border: 1px solid #FDFDFD;
        }

        margin-bottom: 2rem;
    }
}

#payment-method-tab-content {
    .img-box {
        height: 80px;
        width: auto;

        img {
            object-fit: contain;
            object-position: left;
        }
    }

    .row {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}

#payment-method-tab {
    .nav-item {
        .nav-link {
            border-radius: 0px;
            border: 1px solid $bg-nav-subs;
            color: $text-main;

            &.active,
            &:hover,
            &:focus {
                background-color: $color-brand;
                color: $text-white;
            }
        }
    }
}

.gal-magazine-profile {
    .item {
        position: relative;
        margin-bottom: 1rem;

        .img-box {
            height: auto;
            width: 100%;

            img {
                object-fit: contain;
            }
        }

        .desc {
            padding-bottom: 1rem;

            .edition {
                margin: 0px;
            }
        }

        .item-overlay {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: transparentize($color: $color-brand, $amount: .4);
            border: 1px solid $color-highlight;
            display: flex;
            justify-content: center;
            align-items: center;

            visibility: hidden;
            opacity: 0;
            transition: all .25s ease-out;

            .info {
                background-color: $bg-main;
                color: $color-brand;
                margin-bottom: 0px;
                padding: .5rem 1rem;
            }
        }

        &:hover,
        &:focus {
            .item-overlay {
                visibility: visible;
                opacity: 1;
                transition: all .25s ease-in;

                .info {}
            }
        }
    }
}

.subs-status {
    padding: 4%;
    border: 1px solid $bg-nav-subs;
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;

    .img-box {
        height: 300px;

        img {}
    }

    .action {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;

        .disabled-overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: $bg-main;
            opacity: .3;
        }
    }
}

.list-transaksi {
    padding: 1rem;
    border: 1px solid $bg-nav-subs;
    margin-bottom: 1.5rem;
    border-radius: 5px;

    .label,
    .date {
        color: $bg-nav-subs;
    }

    .info {
        font-weight: bold;

        &.lg {
            font-size: 1.2rem;
        }
    }
}

.modal-trx {
    .modal-dialog {
        max-width: 700px;
    }

    .label {
        color: $color-brand;
    }

    .info {}

    .no-trx {}

    .b {
        font-weight: bold;
    }

    .modal-body,
    .modal-footer {
        padding: 1rem 2rem;
    }
}

.fe-accordion {
    .card {
        border-color: transparent;
        border-bottom-color: $bg-nav-subs;

        .card-header {
            background-color: transparent;
            border-color: transparent;
            border-bottom-color: $bg-nav-subs;
            padding-left: 0px;

            button {
                color: darken($color: $color-brand, $amount: .4);
                font-weight: bold;
                padding-left: 0px;
                text-decoration: none !important;
            }
        }
    }

    .collapse {}

    .card-body {}
}

#career-form {
    label {
        text-align: right;
    }
}

#about-tab-content {
    #profil-tab {
        p {
            text-align: justify;
            text-justify: inter-word;
            text-indent: 45px;

            &.first-p {
                text-indent: unset;
            }
        }
    }

    .gal-redaksi {
        .img-box {
            height: 350px;
            margin-bottom: 1rem;
        }

        .desc {
            margin-bottom: 2rem;
        }
    }
}

#cartContent {
    .title {
        font-size: 24px;
        font-weight: 600;
    }

    .subtitle {
        font-size: 20px;
        font-weight: 600;
    }

    table {
        th {
            vertical-align: middle;
            font-size: 18px;
            text-transform: uppercase;
            color: #222;
            font-weight: normal;
        }

        td {
            font-size: 16px;
        }
    }

    .act-button-wrapper {
        padding: 20px 0 15px 0;
    }

    .subtotal {
        font-weight: 600;
        font-size: 18px;
    }

    .img-cart {
        width: 100%;
        height: 200px;
        object-fit: contain;
        object-position: left top;
    }

    .customer-info {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

#magazineDetail {
    font-size: 16px;

    .title {
        font-size: 24px;
        font-weight: 600;
    }

    .description {
        font-size: 16px;
    }

    .discount-price {
        font-size: 16px;
        text-decoration: line-through;
        color: #000;
    }

    .fix-price {
        font-size: 24px;
        font-weight: 600;
        color: #26419d;
    }
}

#checkoutAddress {
    .title {
        font-size: 24px;
        font-weight: 600;
    }

    .subtitle {
        font-size: 20px;
        font-weight: 600;
    }

    table {
        th {
            vertical-align: middle;
            font-size: 18px;
            text-transform: uppercase;
            color: #222;
            font-weight: normal;
        }

        td {
            font-size: 16px;
        }
    }

    .download-icon {
        width: 80px;
        height: 80px;
        object-fit: contain;
        object-position: center center;
    }

    .download-excel-icon {
        width: 330px;
        height: auto;
    }

    .step {
        font-size: 16px;
        font-weight: 600;
    }
}