@import 'colors';
@import 'default';
@import 'nav-footer';
@import 'pages';


// lets start gan

// homepage
.test-default {
    background-color: yellow;
}

.border-top-1 {
    border-top: 1px solid #DDDDDD;
}

.border-bottom-1 {
    border-bottom: 1px solid #DDDDDD;
}

.font-12 {
    font-size: 12px;
}

.btn-remove-address {
    font-size: 16px;
    font-weight: 600;
    color: #929292;
}



// end gan




@import 'responsive';