
a{
    text-decoration: none;
    transition: all .25s ease-in;
    &:hover, &:focus{
        text-decoration: none;
        transition: all .35s ease-out;
    }
}
body{
    color: @text-main;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: unset;
    background-color: @bg-main;
}
h1,h2,h3,h4,h5,h6,.title{
    color: @text-bold;
}
h1,h2,h3,h4,h5,h6,p{
   font-family: 'Montserrat', sans-serif;
}
p{
    margin-bottom: 11px;
    // line-height: unset;
}